@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

body {
  font-family: sans-serif;
  text-align: center;
  background-color: #f0f0f0;
  margin: 0;
  padding: 20px;
  width: 300px;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

h2 {
  color: #333;
  margin-top: 20px;
  margin-bottom: 10px;
}

p {
  color: #666;
}

button {
  background-color: #00573F;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 5px;
  font-family: sans-serif;
}

#paddingValue {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
  color: #333;
  font-family: sans-serif;
}

button:hover {
  background-color: #004d33;
}

select, input[type="number"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
  color: #333;
  font-family: sans-serif;
}

select:focus, input[type="color"]:focus, input[type="number"]:focus {
  border-color: #00573F;
  outline: none;
}

label {
  display: block;
  margin-top: 10px;
  color: #333;
  font-weight: bold;
  text-align: left;
}